.container {
	max-width: var(--container-width);
}

.stack > * + * {
	margin-top: 1em;
}

.stack-lg > * + * {
	margin-top: var(--container-gutter-size);
}

.stack-xl > * + * {
	margin-top: calc( var(--container-gutter-size) * 1.5);
}
