:root {
	--container-gutter-size: 2rem;
	--container-width: 50rem;
}

body {
	font-family: -apple-system, sans-serif;
	margin: var(--container-gutter-size);
}

pre[class*="language-"] {
	border-radius: 4px;
	line-height: 1.5;
	padding: 1.5em;
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 0.9em;
}
