:root {
	--container-gutter-size: 1.5rem;
	--container-width: 42rem;
}

@media (min-width: 700px) {
	:root {
		--container-gutter-size: 2.25rem;
	}
}

body {
	font-family: -apple-system, sans-serif;
	margin: var(--container-gutter-size);
}

pre[class*="language-"] {
	border-radius: 4px;
	line-height: 1.5;
	padding: 1.5em;
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 0.9em;
}
