<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ pkg.name }}</title>

	<style>
		{% include "css/reset.css" %}
		{% include "css/global.css" %}
		{% include "css/composition.css" %}
		{% include "css/blocks.css" %}

		code {
			background-color: #333;
			border-radius: 4px;
			color: #ddd;
			display: block;
			line-height: 1.5;
			padding: 1.5em;
			white-space: pre;
		}
	</style>
</head>
<body>
	<main class="container stack page">
		{{ content | safe }}
	</main>
</body>
</html>
