{% macro render(params) %}
<section class="stack example">
	<h2>{{ params.title }}</h2>

	{% highlight "yaml" %}{{ params.data | yaml }}{% endhighlight %}

	{% highlight "jinja2" %}{{ params.snippet | safe }}{% endhighlight %}

	{% if caller %}
	{% highlight "javascript" %}{{- caller() -}}{% endhighlight %}
	{% endif %}

</section>
{% endmacro %}
