{% macro render(params) %}
<section class="stack example">
	<h2>{{ params.title }}</h2>

	<code class="data">{{ params.data | yaml }}</code>

	<code class="template">{{ params.snippet }}</code>

	{% if caller %}
	<code class="result">{{- caller() -}}</code>
	{% endif %}

</section>
{% endmacro %}
